version: "3.8"

services:
  api:
    build:
      context: ../..
      dockerfile: infra/aws/Dockerfile.api
    ports:
      - "8000:8000"
    environment:
      DQ_DATABASE_URL: postgresql://dq:dqpass@postgres:5432/dataquality
      AWS_ENDPOINT_URL: http://localstack:4566
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      AWS_DEFAULT_REGION: us-east-1
    depends_on:
      - postgres
      - localstack
    restart: unless-stopped

  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: dataquality
      POSTGRES_USER: dq
      POSTGRES_PASSWORD: dqpass
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
    environment:
      SERVICES: s3,glue,redshift
      DEFAULT_REGION: us-east-1
    volumes:
      - localstack_data:/var/lib/localstack
    restart: unless-stopped

volumes:
  pgdata:
  localstack_data:
